<a href="https://colab.research.google.com/github/Clestialcosmos/Python-Basic---advance/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TANISHQ TOMAR

In [ ]:
#Length of list without using len()
lis = [1,2,3,4,5,6,7,8,9]
count = 0
for i in lis:
  count += 1
print(count)

9

In [ ]:
#Remove by index by default name.pop() removes the last index so need to mention the index if you have specific
lis.pop(3)
print(lis)

[1, 2, 3, 5, 6, 7, 8, 9]

In [ ]:
#Remove by value
lis.remove(5)
print(lis)

[1, 2, 3, 6, 7, 8, 9]

In [ ]:
#to find any character in string
for i,v in enumerate (lis):
  if v == 7:
    print(f"found at {i}")

found at 4

In [ ]:
#Reverse value in list
lis.reverse()
print(lis)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

sorted(lis) returns a new sorted list without changing the original.
whereas lis.sort() change the original

In [ ]:
# Ascending order of list without changing original one
print(sorted(lis))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Ascending order in list by changing original
lis.sort()
print(lis)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Descending order in list
lis.sort()
lis.reverse()
print(lis)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# list of odd from 1,20
odd = []
for i in range(1,21,2):
  odd.append(i)
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
print(sum(odd))

100

In [ ]:
print(max(odd))
print(min(odd))

19
1

In [ ]:
# List of square number from 1 to 10
square = []
for i in range(1,11,2):
  square.append(i*i)
print(square)

[1, 9, 25, 49, 81]

In [ ]:
# list to remove duplicates
all = [1,2,3,2,1,23,4,5,33,21,23,45,6,7,65,43,4,2]
new = []
for i in all:
  if i not in new:
    new.append(i)
print(new)

[1, 2, 3, 23, 4, 5, 33, 21, 45, 6, 7, 65, 43]

In [ ]:
ke = [1,3,2,3,2,44,56,78,9098,76,542]
t = []
for i in ke:
  for j in all:
    if i == j:
      if i not in t:
        t.append(i)
print(t)

[1, 3, 2]

In [ ]:
#Find the difference between two lists.
ch = [1,3,2,3,2,44,56,78,9098,76,5443]
counter = []
for i in ch:
  if i not in counter and i not in ke:
    counter.append(i)
for i in ke:
  if i not in counter and i not in ch:
    counter.append(i)
print(counter)

[5443, 542]

In [ ]:
# Merge two lists.
print(all+ke)

[1, 2, 3, 2, 1, 23, 4, 5, 33, 21, 23, 45, 6, 7, 65, 43, 4, 2, 1, 3, 2, 3, 2, 44, 56, 78, 9098, 76, 542]

In [ ]:
# Multiply all elements in a list by 2.
print(all * 2)

[1, 2, 3, 2, 1, 23, 4, 5, 33, 21, 23, 45, 6, 7, 65, 43, 4, 2, 1, 2, 3, 2, 1, 23, 4, 5, 33, 21, 23, 45, 6, 7, 65, 43, 4, 2]

In [ ]:
# Convert a list of strings to a list of integers.
print([int(i) for i in all])

[1, 2, 3, 2, 1, 23, 4, 5, 33, 21, 23, 45, 6, 7, 65, 43, 4, 2]

In [ ]:
#  Convert a list of integers to a list of strings.
string_list = [str(i) for num in numbers]
print(string_list)

['1', '3', '2', '3', '2', '44', '56', '78', '9098', '76', '5443']

In [ ]:
#  Flatten a nested list.
a = [[1,2],[3,4],[1,3]]
c = []
for i in a:
  for b in i:
    c.append(b)
print(c)

[1, 2, 3, 4, 1, 3]

In [ ]:
#  Create a list of the first 10 Fibonacci numbers.
f = [0,1]
num = int(input("enter the number: "))
for i in range(1,num+1):
  a = f[i] + f[i-1]
  f.append(a)
print(f)

enter the number: 10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
if f == sorted(f):
  print(True)
else:
  print(False)

True

In [ ]:
# Rotate a list to the left by `n` positions.
# Using the existing 'all' list from the notebook state.
n = int(input("Enter the number of positions to rotate left: "))
original_list = f.copy() # Make a copy to preserve the original 'all' list
rotated_list = original_list[n:] + original_list[:n]
print(f"Original list: {original_list}")
print(f"Rotated list: {rotated_list}")

Enter the number of positions to rotate left: 3
Original list: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
Rotated list: [2, 3, 5, 8, 13, 21, 34, 55, 89, 0, 1, 1]

In [ ]:
#  Rotate a list to the right by `n` positions.
n = int(input("Enter the number of positions to rotate right: "))
original_list = f.copy() # Make a copy to preserve the original 'all' list
rotated_list = original_list[-n:] + original_list[:-n]
print(f"Original list: {original_list}")
print(f"Rotated list: {rotated_list}")

Enter the number of positions to rotate right: 10
Original list: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
Rotated list: [1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 0, 1]

In [ ]:
# Create a list of prime numbers up to 50.
prime = []
# let's create a list first
for num in range(2,51):
  # we are creating two loops one for number and other for condition
   is_prime = True
  #  making the default condition or assumption as true
   for i in range(2,int(num**0.5)+1):
    if num%i == 0:
      is_prime = False
      break
    else:
      prime.append(num)
print(prime)

[5, 7, 9, 11, 11, 13, 13, 15, 17, 17, 17, 19, 19, 19, 21, 23, 23, 23, 25, 25, 25, 27, 29, 29, 29, 29, 31, 31, 31, 31, 33, 35, 35, 35, 37, 37, 37, 37, 37, 39, 41, 41, 41, 41, 41, 43, 43, 43, 43, 43, 45, 47, 47, 47, 47, 47, 49, 49, 49, 49, 49]

Here we use simple algorithm in for(i in range(2,int(num**0.5)+1))
in which the condition for number starts with 2 and go by only half of that num because after that the pair only repeats itself and there is no need for that like :
example 1:
12 is prime or not
assume 12 is prime
now check 12 with all till 12
like 2*6
3*4
4*3
6*2
so you will see that opposite of same pair starts repeat itself and that is the problem it increases space so for that to overcome we analyse the pattern that after that on what value does the pair become opposite so we see that the answer is n**0.5 to work in code we add 1
like : 12**0.5 = 3.46 ~= 3+1 = 4
hence our code only terminate with 4
therefore 12 is not prime .

In [ ]:
# Split a list into chunks of size `n`
n = int(input("Enter the number : "))
chunk = [1,2,3,4,5,6,7,8,9,0,00,99,88,77,66,55,44,33,22,11]
chunks = [chunk[i:i+n] for i in range(0, len(chunk),n)]
print(chunks)

Enter the number : 3
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [0, 0, 99], [88, 77, 66], [55, 44, 33], [22, 11]]

In [ ]:
# Find the second largest number in a list.
step =max(chunk)
chunk.remove(step)
ans = max(chunk)
print("Second larget in list of chunk is : ",ans)
chunk.append(step)
print("And the list is : \n",chunk)

Second larget in list of chunk is :  88
And the list is :
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 0, 88, 77, 66, 55, 44, 33, 22, 11, 99]

In [ ]:
# Replace every element in a list with its square.
chunk = [i*i for i in chunk]
print(chunk)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 0, 7744, 5929, 4356, 3025, 1936, 1089, 484, 121, 9801]

In [ ]:
dic = {}
for k,v in enumerate(chunk):
  dic[v] = k
for r,a in dic.items():
  print(f"{r} : {a}")

1 : 0
4 : 1
9 : 2
16 : 3
25 : 4
36 : 5
49 : 6
64 : 7
81 : 8
0 : 10
7744 : 11
5929 : 12
4356 : 13
3025 : 14
1936 : 15
1089 : 16
484 : 17
121 : 18
9801 : 19

In [24]:
# Create a list of the first 10 factorial numbers.
fac = []
fact = 1
for i in range(1,11):
  fact = fact*i
  fac.append(fact)
print(fac)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [28]:
# . Convert a list of words into a string
word = "Tanishq Is great"
great = []
for i in word:
  great.append(i)
print(great)
second = ""
for i in great:
  second += i
print(second)

['T', 'a', 'n', 'i', 's', 'h', 'q', ' ', 'I', 's', ' ', 'g', 'r', 'e', 'a', 't']
Tanishq Is great

In [29]:
n = int(input("Enter the number: "))
triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n+1)]
print(triangular_numbers)

Enter the number: 5
[1, 3, 6, 10, 15]

A triangular number is the sum of the first n natural numbers
and it's formula is:
      (n(n+1))/2

..................THANKYOU.............