<a href="https://colab.research.google.com/github/Clestialcosmos/Python-Basic---advance/blob/main/STRING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A = input("Enter the string: ")
print(A[::-1])

Enter the string: my name
eman ym

In [ ]:
f_string = input("enter the string: ")
f_rev = f_string[::-1]
if f_string == f_rev:
  print(True)
else:
  print(False)

enter the string: 121
True

In [ ]:
f_string = input("enter the string: ")
f_rev = f_string[::-1]
if f_string == f_rev:
  print(True)
else:
  print(False)

enter the string: Tanishq Tomar
False

In [ ]:
f_string = input("enter the string: ")
f_rev = f_string[::-1]
if f_string == f_rev:
  print(True)
else:
  print(False)

enter the string: qwq
True

In [ ]:
u_string = input("Enter the input: ")
u_new = u_string.upper()
print("upper text : ",u_new)

Enter the input: wert
upper text :  WERT

In [ ]:
u_string = input("Enter the input: ")
u_new = u_string.lower()
print("Lower text : ",u_new)

Enter the input: TANISHQ
Lower text :  tanishq

In [ ]:
word = input("Enter: ")
vowels = "aeiouAEIOU"
count = 0
for one in word:
  if one in vowels:
    count += 1
print("no of vowels: ",count)

Enter: My name is Tanishq Tomar The Great OF All time
no of vowels:  14

In [ ]:
old = input("Enter: ")
new = old.replace(" ","")
print(new)

Enter: Hi how are you
Hihowareyou

In [ ]:
len(old)

14

In [ ]:
no = 0
for opt in old:
  no += 1
print(no)

14

In [ ]:
status = input('Enter: ')
foun = "Namaste"
if foun in status:
  print(status.replace("Namaste","Jai shree Ram"))
else:
  print(status)

Enter: Namaste I'm Tanishq Tomar The Great
Jai shree Ram I'm Tanishq Tomar The Great

In [ ]:
text = input("Enter: ")
word = "die"
for k,v in enumerate(text.split()):
  if v == word:
    print("word at ",k,"and value is ",v)

Enter: A man will die but not his ideas
word at  3 and value is  die

In [ ]:
col = input("Enter: ")
lis = []
for i in (col.split()):
    lis.append(i)
print(lis)

Enter: My name is Tanishq TOmar
['My', 'name', 'is', 'Tanishq', 'TOmar']

In [ ]:
update = " ".join(lis)
print(update)

My name is Tanishq TOmar

In [ ]:
l_update = update.replace(" ","_")
print(l_update)

My_name_is_Tanishq_TOmar

In [ ]:
c = update.split()
ch = "My"
if c[0] == ch:
  print(True)
else:
  print(False)

True

In [ ]:
c = update.split()
ch = "My"
if c[len(c)-1] == "TOmar":
  print(True)
else:
  print(False)

True

In [ ]:
z = update.title()
print(z)

My Name Is Tanishq Tomar

In [ ]:
z = update.capitalize()
print(z)

My name is tanishq tomar

In [ ]:
mz = max(c,key=len)
ms = min(c,key=len)
print(mz)
print(ms)

Tanishq
My

In [ ]:
que = input("Enter : ")
va = " ".join(que.split()[::-1])
print(va)

Enter : my name is Tanishq
Tanishq is name my

In [ ]:
print(va.isalnum())
# like this as isalnum = is alphanumeric
# we isalpha = is alphabetic
# or isdigit = is digit
# or isnumeric = is numeric
# or islower = is lower
# or isupper = is upper
# or istitle = is title
# or isspace = is space
# so for this
# step 1 = describe the string
# step 2 = for loop in on_loop_string
# step 3 = condition if var.is____()
# step 4 = then you can count, add or whatever we want

False

In [ ]:
print(que.swapcase())

MY NAME IS tANISHQ

In [ ]:
prob = input("Enter: ")
dic = {}
quan = prob.replace(" ","")
for i in quan:
    if i in dic:
        dic[i] += 1
    else:
        dic[i] = 1
print(dic)
if dic[i] == 1:
  print("unique")
else:
  print("not unique")
max(dic,key=dic.get)

Enter: My nname is tanishq
{'M': 1, 'y': 1, 'n': 3, 'a': 2, 'm': 1, 'e': 1, 'i': 2, 's': 2, 't': 1, 'h': 1, 'q': 1}
unique

'n'

In [ ]:
# for anagram
w1 = input("enter the first word").lower()
w2 = input("enter the second word").lower()
if sorted(w1) == sorted(w2):
    print("anagram")
else:
    print("not anagram")

enter the first wordsilent
enter the second wordlisten
anagram

In [ ]:
give = input("enter the string: ")
take = int(input("enter the number: "))
start = give.split()
if take > len(start):
  print("Invalid INPUT")
else:
  start.pop(take-1)
  start.insert(take-1,"chumantar")
  end = " ".join(start)
  print(end)

enter the string: Abra ka dabra gili gili gappa
enter the number: 2
Abra chumantar dabra gili gili gappa

In [ ]:
csv = input("Enter the csv : ")
gen = csv.split(";")
wer = []
for i in gen:
  wer.append(i.split(","))
print(wer)

Enter the csv : "John,25,Delhi;Sara,22,Mumbai;Mike,30,Pune"
[['"John', '25', 'Delhi'], ['Sara', '22', 'Mumbai'], ['Mike', '30', 'Pune"']]